* { 
box-sizing: border-box;
}

body, html {
        font-family:"Times New Roman", Times;
        height: 100%;


}

ul.nav {
	list-style-type: none;
	margin: -10px -10px 0px -10px;
	padding: 0;
	overflow: hidden;
	background-color: #333c4a;
}
ul.panel {
	list-style-type: none;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	background-color: white;
	border: 1px solid grey;

}

li {
	float: left;
}

/* nav bar */ 
li a, .dropbtn {
	display: block;
	color: #c2c5c9;
	text-align: center;
	padding: 14px 16px;
	width: 100%;
}

/* Quick Actions Bar */ 

li a.action-button {
	display: block;
	padding: 12px;
	color: black;
	border-right: 1px solid grey;
}

li a.action-button:hover {
	background-color: #ddd;
}


/* Quick Action bar end */

li.right {
	float: right;
	display: inline-block;
}


li .dropbtn  {
  	} 

li .dropdown:hover, a.dropbtn:hover {
  	color: white;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 0;
	z-index: 1;
}

.dropdown-content a { 
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content { 
	display: block;
}

